.form-part{
    display: flex;
    padding: 5px;
    margin: 5px;
    width: 50%;
    text-align: center;
}

.control-part{
    padding: 10px;
}

.form-control.ng-touched.ng-invalid{
    border:2px solid red;
}

.alert{
    padding:10px;
}

.flex-display{
    flex-direction: row;
}
