<div class="container">
  <h3>
    From point component
  </h3>
</div>

<form>

  <div class="form-group form-part">
    <label for="x1"> x1: </label>
    <input name="x1" type="number" class="form-control">
    <label for="y1"> y1: </label>
    <input name="y1" type="number" class="form-control">
  </div>

<div class="form-group form-part">
    <label for="x2"> x2: </label>
    <input name="x2" type="number" class="form-control">
    <label for="y2"> y2: </label>
    <input name="y2" type="number" class="form-control">
  </div>

  <div class="form-group form-part">
      <label for="x3"> x3: </label>
      <input name="x3" type="number" class="form-control">
      <label for="y3"> y3: </label>
      <input name="y3" type="number" class="form-control">
    </div>
  


</form>